<form [formGroup]="applyForm" (submit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name" formControlName="name" />
      <mat-error *ngIf="applyForm.controls['name'].hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Name" formControlName="email" />
      <mat-error *ngIf="applyForm.controls['email'].hasError('email')">
        Invalid email address
      </mat-error>
      <mat-error *ngIf="applyForm.controls['email'].hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea name="message" matInput formControlName="message"></textarea>
      <mat-error *ngIf="applyForm.controls['message'].hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <app-input-checkbox
      [group]="applyForm"
      [controlName]="'checkbox'"
      [list]="values"
      [isRequired]="true"
      label="Skills"
    ></app-input-checkbox>
  </div>

  <div>
    <label id="example-radio-group-label">Gender</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="radio"
    >
      <mat-radio-button class="example-radio-button" value="Male">Male</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="Female">Female</mat-radio-button>
      <mat-error *ngIf="applyForm.touched && applyForm.controls['radio'].hasError('required')">
        Field is required
      </mat-error>
    </mat-radio-group>
  </div>

  <div>
    <button mat-raised-button>Submit</button>
  </div>

</form>
